@tailwind base;
@tailwind components;
@tailwind utilities;



.fondo {
  background-image: url("/public/img/fondo.webp");
}

h1,
h2 {
  font-family: "Puppies Play", cursive;
}

p {
  font-family: "Annie Use Your Telescope", cursive;
}

img {
  filter: drop-shadow(0 0 10px rgba(0, 0, 0, .8));
}